<div class="card" style="width: 18rem;">
  <img src="assets/images/TestImg.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product.Title}}</h5>
    <p class="card-text">{{product.Description}}</p>
    <p class="card-text">{{product.Category}}</p>
    <p class="price">{{product.Price}}</p>
    <div class="input-group mb-3">
      <button class="btn btn-outline-secondary" type="button" (click)="addToCart()" [disabled]="count===0">Add to cart</button>
      <input type="number" class="form-control" placeholder="count" value="0" aria-label="Example text with two button addons" [(ngModel)]="count" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
</div>
