<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        <h3>Login</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group col-12">
            <label>Email</label>
            <input class="form-control" formControlName="email">
            <span *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched">
              Your email is incorrect
            </span>
          </div>

          <div class="form-group col-12">
            <label>Password</label>
            <input class="form-control" type="password" formControlName="password">
          </div>

          <div class="form-group col-12">
            <div class="buttons_container">
              <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" [routerLink]="['/user-profile']">Login</button>
              <div class="canacel_btn">
                <button type="button" class="btn btn-danger ml-2" [routerLink]="['/']">Cancel</button>
              </div>
              <button type="button" class="btn btn-primary" [routerLink]="['/register']">Create Account</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


