<div>
<form class="d-flex">
  <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}">
  <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
</form>
<div class="sort">
  <select class="form-select" aria-label="Default select example" [(ngModel)]='SortByParam'> 
    <option value="desc">Expensive ones</option>
    <option value="">Cheaper first</option>
  </select>
</div>
<div class="row">
  <div *ngFor="let product of Products|filter:['Price',SortByParam]" class="shadow-lg col-sm-4">
    <element-card [product]="product"></element-card>
  </div>
</div>
</div>
