<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName">
            <span *ngIf="!registrationForm.get('userName')?.valid && registrationForm.get('userName')?.touched">
              Enter your name pleace!
            </span>
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
            <span *ngIf="!registrationForm.get('email')?.valid && registrationForm.get('email')?.touched">
              Email is incorrect!
            </span>
          </div>

          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <span *ngIf="!registrationForm.get('password')?.valid && registrationForm.get('password')?.touched">
              Password is incorrect!
            </span>
          </div>

          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" formControlName="mobile">
            <span *ngIf="!registrationForm.get('mobile')?.valid && registrationForm.get('mobile')?.touched">
              Mobile phone is incorrect!
            </span>
          </div>

          <div class="form-group col-12">
            <div class="button_container">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <button type="reset" class="btn btn-danger ml-2">Cancel</button>
          </div>
          FormValues:{{registrationForm.value | json}}
          FormStatus:{{registrationForm.valid}}
        </form>
        
      </div>
    </div>
  </div>
</div>
