<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink="/">Online Store</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products-of-category/Meat" >Meat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products-of-category/Veagetables">Veagetables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products-of-category/Fruits">Fruits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products-of-category/Bakery">Bakery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/products-of-category/Ready-To-Cook">Ready-To-Cook Food</a>
        </li>
      </ul>
      <div class="button_container" [routerLinkActive]="['link-active']">
        <button type="button" class="btn btn-primary" [routerLink]="['/user-profile']">My Profile</button>
      </div>
      <div class="cart_button_container" [routerLinkActive]="['link-active']">
        <button type="button" class="btn btn-info" [routerLink]="['/cart']">Cart</button>
      </div>
    </div>
  </div>
</nav>
