<div class="card shadow-sm">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  <div class="card-body">
    <p class="card-text">{{cartElement.product.Title}}</p>
    <p class="card-text">Count:{{cartElement.count}} | Total to pay:{{cartElement.totalPrice}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" (click)="decrementCount()"  class="btn btn-warning">-</button>
        <button type="button" (click)="incrementCount()" class="btn btn-success">+</button>
      </div>
      <small class="text-muted"><button type="button" (click)="removeFromCart()" class="btn btn-danger">Delete</button></small>
    </div>
  </div>
</div>
