<div *ngIf="cartElements.length===0" class="alert alert-info">No items added.</div>
<table *ngIf="cartElements.length>0">
  <tr *ngFor="let cartElement of cartElements">
    <app-cart-element [cartElement]="cartElement"></app-cart-element>
  </tr>
</table>
<div><p>{{cartTotal}}</p></div>
<button type="button" class="btn btn-danger" (click)="emptyCart()">Remove All</button>
<button type="button" class="btn btn-success">Compleate</button>
